$bgcolor: #e0e10c;
$color: #1275f2;
$lowContrastShadow: #fff;

.IllusiveText {
  font-size: 72px;
  display: flex;
  flex-wrap: wrap;
  color: $color;
  padding: 64px;
  font-family: monospace;
}

.App {
  text-align: center;
  background-color: $bgcolor;
}

textarea {
  width: 100%;
  height: 4em;
}

@mixin shadows($offset, $blur) {
  .n {
    text-shadow: 0px (-$offset - 1) $blur #000,
      0 ($offset + 1) $blur $lowContrastShadow;
  }

  .ne {
    text-shadow: $offset (-$offset) $blur #000,
      (-$offset) $offset $blur $lowContrastShadow;
  }

  .e {
    text-shadow: ($offset + 1) 0px $blur #000,
      (-$offset - 1) 0px $blur $lowContrastShadow;
  }

  .se {
    text-shadow: $offset $offset $blur #000,
      (-$offset) (-$offset) $blur $lowContrastShadow;
  }

  .s {
    text-shadow: 0px ($offset + 1) $blur #000,
      0 (-$offset - 1) $blur $lowContrastShadow;
  }

  .sw {
    text-shadow: (-$offset) $offset $blur #000,
      $offset (-$offset) $blur $lowContrastShadow;
  }

  .w {
    text-shadow: (-$offset - 1) 0px $blur #000,
      ($offset + 1) 0px $blur $lowContrastShadow;
  }

  .nw {
    text-shadow: (-$offset) (-$offset) $blur #000,
      $offset $offset $blur $lowContrastShadow;
  }
}
@include shadows(3px, 3px);

@media (max-width: 768px) {
  .IllusiveText {
    font-size: 48px;
    padding: 48px;
  }
}

@media (max-width: 480px) {
  .IllusiveText {
    font-size: 32px;
    padding: 32px;
  }
}
